@model UserAccount 

<form method="post">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Логин</td>
                    <td>@Model.Login</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>@Model.Phone</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropDawnMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="dropDawnMenuButton">
            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-name="@Model.Login">Смена пароля</a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id">Удалить пользователя</a>
        </div>
    </div>
</form>
