@using WebShobGleb.Areas.Admin.Models
@model RoleVM

<form method="post" class="bg-dark text-light p-4 rounded shadow-lg">
    <h4 class="text-success">Создание новой роли</h4>
    <br />
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <!-- Поле для названия роли -->
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Название роли:</label>
        <div class="col-sm-8">
            <input asp-for="Name" type="text" class="form-control bg-dark text-light">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <br />

    <!-- Кнопки -->
    <div class="text-end">
        <button type="submit" class="btn btn-success" asp-controller="Role" asp-action="AddRole">
            <i class="fas fa-save me-2"></i>Сохранить
        </button>
        <a class="btn btn-outline-light" asp-area="Admin" asp-controller="Role" asp-action="roles">
            <i class="fas fa-arrow-left me-2"></i>Назад
        </a>
    </div>
</form>