@using WebShobGleb.Areas.Admin.Models
@model List<RoleVM>
@{
    int i = 1;
}

<div class="row bg-dark text-light p-4 rounded shadow-lg">
    <div class="col-3">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-9">
        <a class="btn btn-outline-light mb-3" asp-controller="Role" asp-action="addRole">
            <i class="fas fa-plus me-2"></i>Добавить новую роль
        </a>

        @if (Model == null || Model.Count == 0)
        {
            <h3 class="text-center text-success">Роли еще не назначены!</h3>
        }
        else
        {
            <h3 class="text-center text-success">Список ролей</h3>
            <br />
            <div class="row">
                <div class="col">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td class="col-3"><p>@item.Name</p></td>
                                    <td class="col-2">
                                        <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Role" asp-action="removeRole" asp-route-roleId=@item.Id>
                                            <i class="fas fa-trash-alt me-2"></i>Удалить
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>