@model OrderVM

<div class="text-center">
    <h4>@Model.Name, ваш заказ № @Model.Id успешно создан!</h4>
</div>
<div class="text-center">
    <a class="btn btn-outline-secondary btn-lg" href="/home/index" role="button">На главную</a>
</div>