@model List<ProductVM>

<div class="row">
    @foreach (var prod in Model)
    {
        <div class="col-6 card shadow-lg">
            <img class="card-img-top" src="@prod.Image" width="50" height="150">
            <div class="card-body">
                <a style="color:black" href="/product/index/@prod.Id">
                    <h5>@prod.Name</h5>
                </a>
                <h5>@prod.Cost</h5>
                <a class="btn btn-outline-dark" href="/cart/add/@prod.Id" role="button">Добавить в корзину</a>
                <a class="btn btn-outline-dark" href="/like/add/@prod.Id" role="button">Мне нравится</a>
            </div>

        </div>
    }
</div>
