@model ProductVM

<form method="post" class="bg-dark text-light p-4 rounded shadow-lg">
    <h4 class="text-success">Добавление товара</h4>
    <br />
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <!-- Скрытое поле для изображения -->
    <input type="hidden" asp-for="Image" value="https://i.pinimg.com/736x/e5/ca/d2/e5cad2ec2eca38258096fe2caf0d8e28.jpg" />

    <!-- Поле для названия товара -->
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Название товара:</label>
        <div class="col-sm-8">
            <input asp-for="Name" type="text" class="form-control bg-dark text-light">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <!-- Поле для цены товара -->
    <div class="row mb-3">
        <label asp-for="Cost" class="col-sm-2 col-form-label">Цена товара, руб.:</label>
        <div class="col-sm-8">
            <input asp-for="Cost" type="number" class="form-control bg-dark text-light">
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
    </div>

    <!-- Поле для описания товара -->
    <div class="row mb-3">
        <label asp-for="Description" class="col-sm-2 col-form-label">Описание товара:</label>
        <div class="col-sm-8">
            <input asp-for="Description" type="text" class="form-control bg-dark text-light">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <br />

    <!-- Кнопки -->
    <div class="text-end">
        <button type="submit" class="btn btn-success" asp-area="admin" asp-controller="Product" asp-action="Add">
            <i class="fas fa-save me-2"></i>Сохранить
        </button>
        <a class="btn btn-outline-light" asp-area="admin" asp-controller="Product" asp-action="Products">
            <i class="fas fa-times me-2"></i>Отмена
        </a>
    </div>
</form>
