<footer class="border-top footer text-muted bg-dark">
    <div class="container text-center py-3">
        &copy; 2025 - WebShobGleb - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-light">Privacy</a>
    </div>
</footer>